$sprite-selectors: hover, target, active, focus !default;
$disable-magic-sprite-selectors: false !default;
$default-sprite-separator: '-' !default;
$icons-sprite-dimensions: false !default;
$icons-class-separator: $default-sprite-separator !default;
$icons-sprite-base-class: '.icons#{$icons-class-separator}sprite' !default;
$icons-pixel-ratio: 1;
$icons-image-width: 24px;
$icons-image-height: 256px;

%icons-01c3ae1 {
    background-image: url('../img/icons.png?_=01c3ae1');
    background-repeat: no-repeat;
    @if $icons-pixel-ratio != 1 {
        background-size: #{$icons-image-width / $icons-pixel-ratio} #{$icons-image-height / $icons-pixel-ratio};
    }
}
#{$icons-sprite-base-class} {
    @extend %icons-01c3ae1;
}

$icons-sprites: (
    icon-delete: (
        x: 0, y: 0, width: 16px, height: 16px
    ),
    icon-edit: (
        x: 0, y: 16px, width: 16px, height: 16px
    ),
    icon-exlink: (
        x: 0, y: 32px, width: 16px, height: 16px
    ),
    icon-upload-active: (
        x: 0, y: 208px, width: 24px, height: 24px
    ),
    icon-upload: (
        x: 0, y: 232px, width: 24px, height: 24px, active: (x: 0, y: 208px, width: 24px, height: 24px)
    ),
    mime-application: (
        x: 0, y: 48px, width: 16px, height: 16px
    ),
    mime-archive: (
        x: 0, y: 64px, width: 16px, height: 16px
    ),
    mime-audio: (
        x: 0, y: 80px, width: 16px, height: 16px
    ),
    mime-html: (
        x: 0, y: 96px, width: 16px, height: 16px
    ),
    mime-image: (
        x: 0, y: 112px, width: 16px, height: 16px
    ),
    mime-office: (
        x: 0, y: 128px, width: 16px, height: 16px
    ),
    mime-script: (
        x: 0, y: 144px, width: 16px, height: 16px
    ),
    mime-text: (
        x: 0, y: 160px, width: 16px, height: 16px
    ),
    mime-unknow: (
        x: 0, y: 176px, width: 16px, height: 16px
    ),
    mime-video: (
        x: 0, y: 192px, width: 16px, height: 16px
    )
);

@function icons-sprite-width($sprite) {
    @return map-get(map-get($icons-sprites, $sprite), 'width') / $icons-pixel-ratio;
}

@function icons-sprite-height($sprite) {
    @return map-get(map-get($icons-sprites, $sprite), 'height') / $icons-pixel-ratio;
}

@mixin icons-sprite-dimensions($sprite) {
    width: icons-sprite-width($sprite);
    height: icons-sprite-height($sprite);
}

@mixin icons-sprite-magic-background-position($sprite-data, $offset-x: 0, $offset-y: 0) {
    $x: $offset-x - map-get($sprite-data, 'x');
    $y: $offset-y - map-get($sprite-data, 'y');
    background-position: #{$x / $icons-pixel-ratio} #{$y / $icons-pixel-ratio};
}

@mixin icons-sprite-selectors(
    $sprite-name, $full-sprite-name, $offset-x: 0, $offset-y: 0,
    $unsupported: false, $separator: $icons-class-separator
) {
    $sprite-data: map-get($icons-sprites, $sprite-name);
    @each $state in $sprite-selectors {
        @if map-has-key($sprite-data, $state) {
            $sprite-class: "#{$full-sprite-name}#{$separator}#{$state}";
            &:#{$state}, &.#{$sprite-class} {
                @include icons-sprite-magic-background-position(map-get($sprite-data, $state), $offset-x, $offset-y);
            }
        }
    }
}

@mixin icons-sprite(
    $sprite, $dimensions: $icons-sprite-dimensions, $offset-x: 0, $offset-y: 0, $unsupported: false,
    $use-magic-selectors: not $disable-magic-sprite-selectors, $separator: $icons-class-separator
) {
    $sprite-data: map-get($icons-sprites, $sprite);
    @extend %icons-01c3ae1;
    @include icons-sprite-magic-background-position($sprite-data, $offset-x, $offset-y);
    @if $dimensions {
        @include icons-sprite-dimensions($sprite);
    }
    @if $use-magic-selectors {
        @include icons-sprite-selectors(
            $sprite, $sprite, $offset-x, $offset-y, $unsupported, $separator
        );
    }
}

@mixin all-icons-sprites($dimensions: $icons-sprite-dimensions) {
    .icons-icon-delete {
        @include icons-sprite(icon-delete, $dimensions);
    }
    .icons-icon-edit {
        @include icons-sprite(icon-edit, $dimensions);
    }
    .icons-icon-exlink {
        @include icons-sprite(icon-exlink, $dimensions);
    }
    .icons-icon-upload-active {
        @include icons-sprite(icon-upload-active, $dimensions);
    }
    .icons-icon-upload {
        @include icons-sprite(icon-upload, $dimensions);
    }
    .icons-mime-application {
        @include icons-sprite(mime-application, $dimensions);
    }
    .icons-mime-archive {
        @include icons-sprite(mime-archive, $dimensions);
    }
    .icons-mime-audio {
        @include icons-sprite(mime-audio, $dimensions);
    }
    .icons-mime-html {
        @include icons-sprite(mime-html, $dimensions);
    }
    .icons-mime-image {
        @include icons-sprite(mime-image, $dimensions);
    }
    .icons-mime-office {
        @include icons-sprite(mime-office, $dimensions);
    }
    .icons-mime-script {
        @include icons-sprite(mime-script, $dimensions);
    }
    .icons-mime-text {
        @include icons-sprite(mime-text, $dimensions);
    }
    .icons-mime-unknow {
        @include icons-sprite(mime-unknow, $dimensions);
    }
    .icons-mime-video {
        @include icons-sprite(mime-video, $dimensions);
    }
}
